DB_PATH=C:\xampp\htdocs\hackathon-2025\database\db.sqlite
APP_ENV=dev
EXPENSE_CATEGORIES=Groceries,Utilities,Transport,Entertainment,Housing,Healthcare,Other
BUGETS={"food":400,"transport":200,"entertainment":150,"utilities":230,"health":520,"other":780,"housing":1000,"groceries":1000}